body {
    color: #333333;
    font-family: arial;
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: rgb(119, 119, 119);
    border-top: 1px solid #696969;
    padding: 1rem 0;
    margin-top: 1rem;
}

header {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

header a {
    color: #888888;
    margin-right: 1rem;
    text-decoration: none;
}

.portrait {
    width: 650px;
}
